<!DOCTYPE html>
<html>
<head>
    <title>N.D.A. 主页</title>
    <meta setchar="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/x-icon" href="/img/logo.png">
    <link rel="stylesheet" href="/css/navigation.css" type="text/css">
    <link rel="stylesheet" href="/css/homepage.css" type="text/css">
    <link rel="stylesheet" href="/css/basicCSS.css" type="text/css">

    <script type="text/javascript" src="/javascript/navigation.js"></script>
</head>
<body>
<header>
    <div class="navbar">
        <div id="navbarlogo" style="width: 150px;
                            height: 64px;
                            margin-left: 25px;
                            margin-right: 30px;">
            <a href="Homepage.html"></a>
            <img id="navbarlogoimg" src="/img/title.png"/>
        </div>
        <ul>
            <li onmouseover="NBC_trans_mouseover(this)" onmouseout="NBC_trans_mouseout(this)"><a
                    href="DeathStatisticsPage.html">人员死亡统计表</a></li>
            <li onmouseover="NBC_trans_mouseover(this)" onmouseout="NBC_trans_mouseout(this)"><a
                    href="CivilStructurePage.html">土木结构房屋破坏统计表</a></li>
            <li onmouseover="NBC_trans_mouseover(this)" onmouseout="NBC_trans_mouseout(this)"><a
                    href="CommDisasterPage.html">通信系统灾情统计表</a></li>
            <li onmouseover="NBC_trans_mouseover(this)" onmouseout="NBC_trans_mouseout(this)"><a
                    href="CollapseRecordPage.html">崩塌记录表</a></li>
            <li onmouseover="NBC_trans_mouseover(this)" onmouseout="NBC_trans_mouseout(this)"><a
                    href="DownloadRequestPage.html">下载请求记录表</a></li>
            <li id="space_in_nav"></li>
            <li id="DisasterPredictionbt"><a href='DisasterPredictionPage.html' style="font-weight: 300;">灾情预测</a></li>
            <li onmouseover="NBC_trans_mouseover(this)" onmouseout="NBC_trans_mouseout(this)"><a href="return" >返回普通页面</a></li>
        </ul>
    </div>
</header>
<section id="contianer">
    <div class="ListTitle">
        <h1>主页新闻</h1>
        <p style="font-size: 14px; margin-left: 7px;color: gray;">
            2020年05月14日 00:00:00
        </p>
    </div>
    <div>
        <div class="ListList">
            <p><a href="#To_Read">To Read</a></p>
            <nav>
                <p>2 regions</p>
                <p>6 authors</p>
                <p>15 groups</p>
                <p>Feb 12:05</p>
            </nav>
        </div>
        <div class="ListList">
            <p><a href="#Readed">Readed</a></p>
            <nav>
                <p>14 regions</p>
                <p>1 authors</p>
                <p>27 groups</p>
                <p>Feb 14:22</p>
            </nav>
        </div>
        <div class="ListList">
            <p><a href="#Important">Important</a></p>
            <nav>
                <p>5 regions</p>
                <p>3 authors</p>
                <p>30 groups</p>
                <p>Feb 21:01</p>
            </nav>
        </div>
        <div class="ListList">
            <p><a href="#Current">Current</a></p>
            <nav>
                <p>0 regions</p>
                <p>2 authors</p>
                <p>30 groups</p>
                <p>Wen 01:24</p>
            </nav>
        </div>
    </div>
</section>
</body>
</html>