<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="yxx.hellospring.Mapper.CommdisasterMapper" >
  <!--  Author: wzy2017211900-->
  <!--  DateTime: 2020/5/11 4:35-->
  <!--  Iteration: the second iteration-->
  <resultMap id="BaseResultMap" type="yxx.hellospring.POJO.Commdisaster" >
    <id column="ID" property="id" jdbcType="CHAR" />
    <result column="date" property="date" jdbcType="VARCHAR" />
    <result column="location" property="location" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="grade" property="grade" jdbcType="VARCHAR" />
    <result column="note" property="note" jdbcType="VARCHAR" />
    <result column="reporting unit" property="reportingUnit" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="yxx.hellospring.POJO.Commdisaster" extends="BaseResultMap" >
    <result column="picture" property="picture" jdbcType="LONGVARBINARY" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, date, location, type, grade, note, `reporting unit`
  </sql>
  <sql id="Blob_Column_List" >
    picture
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="yxx.hellospring.POJO.CommdisasterExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from commdisaster
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="yxx.hellospring.POJO.CommdisasterExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from commdisaster
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from commdisaster
    where ID = #{id,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from commdisaster
    where ID = #{id,jdbcType=CHAR}
  </delete>
  <delete id="deleteByExample" parameterType="yxx.hellospring.POJO.CommdisasterExample" >
    delete from commdisaster
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="yxx.hellospring.POJO.Commdisaster" >
    insert into commdisaster (ID, date, location, 
      type, grade, note, 
      `reporting unit`, picture)
    values (#{id,jdbcType=CHAR}, #{date,jdbcType=VARCHAR}, #{location,jdbcType=VARCHAR}, 
      #{type,jdbcType=VARCHAR}, #{grade,jdbcType=VARCHAR}, #{note,jdbcType=VARCHAR}, 
      #{reportingUnit,jdbcType=VARCHAR}, #{picture,jdbcType=LONGVARBINARY})
  </insert>
  <insert id="insertSelective" parameterType="yxx.hellospring.POJO.Commdisaster" >
    insert into commdisaster
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="date != null" >
        date,
      </if>
      <if test="location != null" >
        location,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="grade != null" >
        grade,
      </if>
      <if test="note != null" >
        note,
      </if>
      <if test="reportingUnit != null" >
        `reporting unit`,
      </if>
      <if test="picture != null" >
        picture,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=CHAR},
      </if>
      <if test="date != null" >
        #{date,jdbcType=VARCHAR},
      </if>
      <if test="location != null" >
        #{location,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="grade != null" >
        #{grade,jdbcType=VARCHAR},
      </if>
      <if test="note != null" >
        #{note,jdbcType=VARCHAR},
      </if>
      <if test="reportingUnit != null" >
        #{reportingUnit,jdbcType=VARCHAR},
      </if>
      <if test="picture != null" >
        #{picture,jdbcType=LONGVARBINARY},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="yxx.hellospring.POJO.CommdisasterExample" resultType="java.lang.Integer" >
    select count(*) from commdisaster
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update commdisaster
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=CHAR},
      </if>
      <if test="record.date != null" >
        date = #{record.date,jdbcType=VARCHAR},
      </if>
      <if test="record.location != null" >
        location = #{record.location,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=VARCHAR},
      </if>
      <if test="record.grade != null" >
        grade = #{record.grade,jdbcType=VARCHAR},
      </if>
      <if test="record.note != null" >
        note = #{record.note,jdbcType=VARCHAR},
      </if>
      <if test="record.reportingUnit != null" >
        `reporting unit` = #{record.reportingUnit,jdbcType=VARCHAR},
      </if>
      <if test="record.picture != null" >
        picture = #{record.picture,jdbcType=LONGVARBINARY},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update commdisaster
    set ID = #{record.id,jdbcType=CHAR},
      date = #{record.date,jdbcType=VARCHAR},
      location = #{record.location,jdbcType=VARCHAR},
      type = #{record.type,jdbcType=VARCHAR},
      grade = #{record.grade,jdbcType=VARCHAR},
      note = #{record.note,jdbcType=VARCHAR},
      `reporting unit` = #{record.reportingUnit,jdbcType=VARCHAR},
      picture = #{record.picture,jdbcType=LONGVARBINARY}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update commdisaster
    set ID = #{record.id,jdbcType=CHAR},
      date = #{record.date,jdbcType=VARCHAR},
      location = #{record.location,jdbcType=VARCHAR},
      type = #{record.type,jdbcType=VARCHAR},
      grade = #{record.grade,jdbcType=VARCHAR},
      note = #{record.note,jdbcType=VARCHAR},
      `reporting unit` = #{record.reportingUnit,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="yxx.hellospring.POJO.Commdisaster" >
    update commdisaster
    <set >
      <if test="date != null" >
        date = #{date,jdbcType=VARCHAR},
      </if>
      <if test="location != null" >
        location = #{location,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="grade != null" >
        grade = #{grade,jdbcType=VARCHAR},
      </if>
      <if test="note != null" >
        note = #{note,jdbcType=VARCHAR},
      </if>
      <if test="reportingUnit != null" >
        `reporting unit` = #{reportingUnit,jdbcType=VARCHAR},
      </if>
      <if test="picture != null" >
        picture = #{picture,jdbcType=LONGVARBINARY},
      </if>
    </set>
    where ID = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="yxx.hellospring.POJO.Commdisaster" >
    update commdisaster
    set date = #{date,jdbcType=VARCHAR},
      location = #{location,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      grade = #{grade,jdbcType=VARCHAR},
      note = #{note,jdbcType=VARCHAR},
      `reporting unit` = #{reportingUnit,jdbcType=VARCHAR},
      picture = #{picture,jdbcType=LONGVARBINARY}
    where ID = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="yxx.hellospring.POJO.Commdisaster" >
    update commdisaster
    set date = #{date,jdbcType=VARCHAR},
      location = #{location,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      grade = #{grade,jdbcType=VARCHAR},
      note = #{note,jdbcType=VARCHAR},
      `reporting unit` = #{reportingUnit,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=CHAR}
  </update>
</mapper>